@model TeamUpdateVM

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter">
        <label asp-for="Twitter">Twitter</label>
        <span asp-validation-for="Twitter" class="text-danger"></span>
    </div>
</div>

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Facebook" type="text" class="form-control" placeholder="Facebook">
        <label asp-for="Facebook">Facebook</label>
        <span asp-validation-for="Facebook" class="text-danger"></span>
    </div>
</div>

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Instagram" type="text" class="form-control" placeholder="Instagram">
        <label asp-for="Instagram">Instagram</label>
        <span asp-validation-for="Instagram" class="text-danger"></span>
    </div>
</div>

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="LinkedIn" type="text" class="form-control" placeholder="LinkedIn">
        <label asp-for="LinkedIn">LinkedIn</label>
        <span asp-validation-for="LinkedIn" class="text-danger"></span>
    </div>
</div>