
@{
    ViewData["Title"] = "DeleteTestimonial";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow text-center">
                <p class="fs-3 text-primary-color mb-4">Are you sure you want to delete this Testimonial information?</p>

                <div class="alert alert-primary text-start" role="alert">
                    <strong>Warning!</strong> This action cannot be undone. All <span style="color: red"><b>Testimonial</b></span> data will be permanently deleted.
                </div>

                <form asp-area="Admin" asp-controller="Testimonial" asp-action="DeleteTestimonialConfirmed" method="post" class="mt-4">
                    <input type="hidden" readonly name="id" value="@ViewBag.Id" />
                    <div class="buttons d-flex justify-content-between gap-3">
                        <a asp-area="Admin" asp-controller="Testimonial" asp-action="GetAllTestimonialList" class="btn btn-danger flex-fill">NO</a>
                        <button type="submit" class="btn btn-outline-primary flex-fill">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


